astroid==2.3.2
boto==2.49.0
boto3==1.10.8
botocore==1.13.8
colorama==0.4.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.27
django-appconf==1.0.3
django-heroku==0.3.1
django-imagekit==4.0.2
django-storages==1.7.2
django-toolbelt==0.0.1
docutils==0.15.2
gunicorn==19.9.0
isort==4.3.21
jmespath==0.9.4
lazy-object-proxy==1.4.2
mccabe==0.6.1
numpy==1.17.3
pandas==0.25.2
pilkit==2.0
Pillow==6.2.1
psycopg2==2.8.4
pylint==2.4.3
pypi==2.1
python-dateutil==2.8.0
pytz==2019.3
s3transfer==0.2.1
six==1.12.0
sqlparse==0.3.0
static3==0.7.0
urllib3==1.25.6
whitenoise==4.1.4
wrapt==1.11.2
