{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>乃木坂46データベース- {% block title %}{% endblock %}</title>
  <link href={% static 'css/nogidb.css' %} rel="stylesheet" type="text/css" />
  <link href="//fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />
</head>

<body>

{% block header %}
　<div class="header">
    <div class="wrapper">
      <ul>
        <li><a class="brand" href={% url 'nogidb:home' %}>乃木坂46データベース</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

<div class="wrapper">
  {% block content %}
  {% endblock %}
</div>

</body>
<footer>
<br>
<br>
<br>
</footer>
</html>
