{% extends 'nogidb/base.html' %}
{% load staticfiles %}


{% block title %}学年別リスト{% endblock %}

{% block style %}
<link href={% static 'css/grade.css' %} rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<h1>学年別リスト</h1>
<th><a href={% url 'nogidb:grade_condition' 0 %} >活動中のみ</a></th>
<th><a href={% url 'nogidb:grade_condition' 1 %} >卒業生のみ</a></th>
<th><a href={% url 'nogidb:grade' %} >すべて</a></th>


<h3>1990年度生まれ（29歳）</h3>
    {% for member in members_1990 %}
    <div class='grade'>
        <a href="{% url 'nogidb:detail' member.id %}">
        {% if member.thumbnail %}
        <img src='{{ member.thumbnail.url }}' alt={{ member.name }} width=50>
        {% else %}
        <img src='{{ MEDIA_URL }}images/dorayakiman.png' alt='画像はありません' width=50>
        {% endif %}
        <h4>{{ member.name }}</h4>
        </a>        
    </div>
    {% endfor %}


    <h3>1991年度生まれ（28歳）</h3>
    {% for member in members_1991 %}
    <div class='grade'>
        <a href="{% url 'nogidb:detail' member.id %}">
        {% if member.thumbnail %}
        <img src='{{ member.thumbnail.url }}' alt={{ member.name }} width=50>
        {% else %}
        <img src='{{ MEDIA_URL }}images/dorayakiman.png' alt='画像はありません' width=50>
        {% endif %}
        <h4>{{ member.name }}</h4>
        </a>        
    </div>
    {% endfor %}

    <h3>1992年度生まれ（27歳）</h3>
    {% for member in members_1992 %}
    <a href="{% url 'nogidb:detail' member.id %}">

    <div class='grade'>
        {% if member.thumbnail %}
        <img src='{{ member.thumbnail.url }}' alt={{ member.name }} width=50>
        {% else %}
        <img src='{{ MEDIA_URL }}images/dorayakiman.png' alt='画像はありません' width=50>
        {% endif %}
        <h4>{{ member.name }}</h4>
        </a>        
    </div>
    {% endfor %}

    <h3>1993年度生まれ（26歳）</h3>
    {% for member in members_1993 %}
    <div class='grade'>
        <a href="{% url 'nogidb:detail' member.id %}">
        {% if member.thumbnail %}
        <img src='{{ member.thumbnail.url }}' alt={{ member.name }} width=50>
        {% else %}
        <img src='{{ MEDIA_URL }}images/dorayakiman.png' alt='画像はありません' width=50>
        {% endif %}
        <h4>{{ member.name }}</h4>
        </a>        
    </div>
    {% endfor %}

    <h3>1994年度生まれ（25歳）</h3>
    {% for member in members_1994 %}
    <div class='grade'>
        <a href="{% url 'nogidb:detail' member.id %}">
        {% if member.thumbnail %}
        <img src='{{ member.thumbnail.url }}' alt={{ member.name }} width=50>
        {% else %}
        <img src='{{ MEDIA_URL }}images/dorayakiman.png' alt='画像はありません' width=50>
        {% endif %}
        <h4>{{ member.name }}</h4>
        </a>        
    </div>
    {% endfor %}

    <h3>1995年度生まれ（24歳）</h3>
    {% for member in members_1995 %}
    <div class='grade'>
        <a href="{% url 'nogidb:detail' member.id %}">
        {% if member.thumbnail %}
        <img src='{{ member.thumbnail.url }}' alt={{ member.name }} width=50>
        {% else %}
        <img src='{{ MEDIA_URL }}images/dorayakiman.png' alt='画像はありません' width=50>
        {% endif %}
        <h4>{{ member.name }}</h4>
        </a>        
    </div>
    {% endfor %}

    <h3>1996年度生まれ（23歳）</h3>
    {% for member in members_1996 %}
    <div class='grade'>
        <a href="{% url 'nogidb:detail' member.id %}">
        {% if member.thumbnail %}
        <img src='{{ member.thumbnail.url }}' alt={{ member.name }} width=50>
        {% else %}
        <img src='{{ MEDIA_URL }}images/dorayakiman.png' alt='画像はありません' width=50>
        {% endif %}
        <h4>{{ member.name }}</h4>
        </a>        
    </div>
    {% endfor %}

    <h3>1997年度生まれ（22歳）</h3>
    {% for member in members_1997 %}
    <div class='grade'>
        <a href="{% url 'nogidb:detail' member.id %}">
        {% if member.thumbnail %}
        <img src='{{ member.thumbnail.url }}' alt={{ member.name }} width=50>
        {% else %}
        <img src='{{ MEDIA_URL }}images/dorayakiman.png' alt='画像はありません' width=50>
        {% endif %}
        <h4>{{ member.name }}</h4>
        </a>        
    </div>
    {% endfor %}

    <h3>1998年度生まれ（21歳）</h3>
    {% for member in members_1998 %}
    <div class='grade'>
        <a href="{% url 'nogidb:detail' member.id %}">
        {% if member.thumbnail %}
        <img src='{{ member.thumbnail.url }}' alt={{ member.name }} width=50>
        {% else %}
        <img src='{{ MEDIA_URL }}images/dorayakiman.png' alt='画像はありません' width=50>
        {% endif %}
        <h4>{{ member.name }}</h4>
        </a>        
    </div>
    {% endfor %}

    <h3>1999年度生まれ（20歳）</h3>
    {% for member in members_1999 %}
    <div class='grade'>
        <a href="{% url 'nogidb:detail' member.id %}">
        {% if member.thumbnail %}
        <img src='{{ member.thumbnail.url }}' alt={{ member.name }} width=50>
        {% else %}
        <img src='{{ MEDIA_URL }}images/dorayakiman.png' alt='画像はありません' width=50>
        {% endif %}
        <h4>{{ member.name }}</h4>
        </a>        
    </div>
    {% endfor %}

    <h3>2000年度生まれ（19歳）</h3>
    {% for member in members_2000 %}
    <div class='grade'>
        <a href="{% url 'nogidb:detail' member.id %}">
        {% if member.thumbnail %}
        <img src='{{ member.thumbnail.url }}' alt={{ member.name }} width=50>
        {% else %}
        <img src='{{ MEDIA_URL }}images/dorayakiman.png' alt='画像はありません' width=50>
        {% endif %}
        <h4>{{ member.name }}</h4>
        </a>        
    </div>
    {% endfor %}

    <h3>2001年度生まれ（18歳）</h3>
    {% for member in members_2001 %}
    <div class='grade'>
        <a href="{% url 'nogidb:detail' member.id %}">
        {% if member.thumbnail %}
        <img src='{{ member.thumbnail.url }}' alt={{ member.name }} width=50>
        {% else %}
        <img src='{{ MEDIA_URL }}images/dorayakiman.png' alt='画像はありません' width=50>
        {% endif %}
        <h4>{{ member.name }}</h4>
        </a>        
    </div>
    {% endfor %}

    <h3>2002年度生まれ（17歳）</h3>
    {% for member in members_2002 %}
    <div class='grade'>
        <a href="{% url 'nogidb:detail' member.id %}">
        {% if member.thumbnail %}
        <img src='{{ member.thumbnail.url }}' alt={{ member.name }} width=50>
        {% else %}
        <img src='{{ MEDIA_URL }}images/dorayakiman.png' alt='画像はありません' width=50>
        {% endif %}
        <h4>{{ member.name }}</h4>
        </a>        
    </div>
    {% endfor %}

    <h3>2003年度生まれ（16歳）</h3>
    {% for member in members_2003 %}
    <div class='grade'>
        <a href="{% url 'nogidb:detail' member.id %}">
        {% if member.thumbnail %}
        <img src='{{ member.thumbnail.url }}' alt={{ member.name }} width=50>
        {% else %}
        <img src='{{ MEDIA_URL }}images/dorayakiman.png' alt='画像はありません' width=50>
        {% endif %}
        <h4>{{ member.name }}</h4>
        </a>        
    </div>
    {% endfor %}

    <h3>2004年度生まれ（15歳）</h3>
    {% for member in members_2004 %}
    <div class='grade'>
        <a href="{% url 'nogidb:detail' member.id %}">
        {% if member.thumbnail %}
        <img src='{{ member.thumbnail.url }}' alt={{ member.name }} width=50>
        {% else %}
        <img src='{{ MEDIA_URL }}images/dorayakiman.png' alt='画像はありません' width=50>
        {% endif %}
        <h4>{{ member.name }}</h4>
        </a>        
    </div>
    {% endfor %}

{% endblock %}
