{% extends 'nogidb/base.html' %}
{% load staticfiles %}

{% block  title %}{{ member.name }}{% endblock %}

{% block style %}
<link href={% static 'css/detail.css' %} rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
   <h1> <a href=''>{{ member.name }}</a></h1>
   
   {% if member.picture %}
       <img src='{{ MEDIA_URL }}{{ member.picture }}' alt={{ member.name }} width=250>
   
   {% else %}
       <img src='{{ MEDIA_URL }}images/dorayakiman.png' alt='画像はありません' width=250>
   {% endif %}


   <h3>誕生日</h3>{{ member.birthday }}（{{ age }}歳）
   <h3>クラス</h3>{{ member.join_class_display }}
   <h3>活動状況</h3>{{ member.status_display }}
   
{% endblock %}