{% extends 'nogidb/base.html' %}


{% block title %}メンバーリスト{% endblock %}

{% block content %}
  <h1>メンバーリスト</h1>
  <div class='condition'>
    <th><a href="{% url 'nogidb:condition' 0 %}">年齢</a></th>
    <th><a href="{% url 'nogidb:condition' 1 %}">加入時期</a></th>
    <th><a href="{% url 'nogidb:condition' 2 %}">活動状態</a></th>
    <th><a href="{% url 'nogidb:condition' 3 %}">名前順</a></th>
  </div>
  <table>
    <thead>
    <tr>
      <th>名前</th>
      <th>生年月日</th>
      <th>加入時期</th>
      <th>活動状況</th>
    </tr>
    </thead>
    <tbody>
    {# 一覧用 #}
    {% for member in members %}
      <tr>
        <td><a href="{% url 'nogidb:detail' member.id %}">{{ member.name }}</a></td>
        <td>{{ member.birthday }}</td>
        <span><td>{{ member.join_class_display }}</td></span>
        <span><td>{{ member.status_display }}</td></span>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}